<div class="col-xs-12 col-sm-offset-2 col-md-offset-2 col-sm-8 col-lg-offset-2 col-lg-8">
  <% flash.each do |type, message| %>
    <div class="alert <%= alert_class_for(type) %> fade in">
      <button class="close" data-dismiss="alert">×</button>
      <%= message %>
    </div>
  <% end %>
</div>
